[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
pandas = "*"
pyarrow = "*"
oauth2client = "*"
spotipy = "*"
slack-sdk = "*"
pyyaml = "*"

[dev-packages]
ipynb = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
